<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 600px;"></div>
    <form id="markers-form" action="{{ url_for('save_markers') }}" method="post">
        <input type="hidden" id="markers-field" name="markers">
        <button type="button">Save Markers</button>
        <a href="{{ url_for('view_markers') }}">View Markers</a>

    </form>
    <script>
        var map = L.map('map').setView([36.007659549566725, -78.8437123056821], 20);

        L.tileLayer('https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        }).addTo(map);

        var markers = [];

        function onMapClick(e) {
            var marker = L.marker(e.latlng).addTo(map);
            markers.push(marker.getLatLng());
        }

        map.on('click', onMapClick);

        document.getElementById('markers-form').addEventListener('submit', function(event) {
            event.preventDefault();
            document.getElementById('markers-field').value = JSON.stringify(markers);
            this.submit();
        });
    </script>
</body>
</html>
