<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Control OPR</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Set html and body to take up the full height */
        html, body {
            height: 100%;
            overflow: hidden; /* Prevent scrolling */
        }

        /* Make the video element fill the viewport */
        #video {
            width: 100vw; /* 100% of the viewport width */
            height: auto; /* 100% of the viewport height */
            object-fit: cover; /* Ensure the video covers the area */
            aspect-ratio: 16 / 9;
        }

        #homeicon {
            width: 50px;
            position: absolute;
            height: auto;
            margin: auto;
            top: 80px;
            right: 50px;
        }
    </style>

    <link rel="stylesheet" href="/static/css/dpad.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

</head>
<body>

    <div class="video-container">
      <video id="video" width="1920" height="536" controls></video>
    </div>

    <!-- Home -->
    <a href="/view_markers"><img src="/static/images/house.png" id="homeicon"></a>

    <!-- D-Pad -->
    <div class="wrapper">
      <div class="center" id="sendStopButton">
          <div class="center-circle"></div>
      </div>

      <div class="up direction" id="sendUpButton">
        <div class="up-triangle"></div>
      </div>

      <div class="right direction" id="sendRightButton">
        <div class="right-triangle"></div>
      </div>
      <div class="down direction" id="sendDownButton">
        <div class="down-triangle"></div>
      </div>

      <div class="left direction" id="sendLeftButton">
        <div class="left-triangle"></div>
      </div>

    </div>

    <script>
        let intervalId;

        // Forward
        document.getElementById('sendUpButton').addEventListener('mousedown', () => {
            intervalId = setInterval(() => {
                fetch('/move_robot?direction=forward')
                    .catch(error => {
                        console.error('Error fetching the forward URL:', error);
                    });
            }, 100); // Adjust the interval as needed (1000 ms = 1 second)
        });

        document.getElementById('sendUpButton').addEventListener('mouseup', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // For good measure, also stop the interval if the user moves the mouse away while pressing the button
        document.getElementById('sendUpButton').addEventListener('mouseleave', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // reverse
        document.getElementById('sendDownButton').addEventListener('mousedown', () => {
            intervalId = setInterval(() => {
                fetch('/move_robot?direction=reverse')
                    .catch(error => {
                        console.error('Error fetching the reverse URL:', error);
                    });
            }, 100); // Adjust the interval as needed (1000 ms = 1 second)
        });

        document.getElementById('sendDownButton').addEventListener('mouseup', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // For good measure, also stop the interval if the user moves the mouse away while pressing the button
        document.getElementById('sendDownButton').addEventListener('mouseleave', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // left
        document.getElementById('sendLeftButton').addEventListener('mousedown', () => {
            intervalId = setInterval(() => {
                fetch('/move_robot?direction=left')
                    .catch(error => {
                        console.error('Error fetching the left URL:', error);
                    });
            }, 100); // Adjust the interval as needed (1000 ms = 1 second)
        });

        document.getElementById('sendLeftButton').addEventListener('mouseup', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // For good measure, also stop the interval if the user moves the mouse away while pressing the button
        document.getElementById('sendLeftButton').addEventListener('mouseleave', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });


        // right
        document.getElementById('sendRightButton').addEventListener('mousedown', () => {
            intervalId = setInterval(() => {
                fetch('/move_robot?direction=right')
                    .catch(error => {
                        console.error('Error fetching the right URL:', error);
                    });
            }, 100); // Adjust the interval as needed (1000 ms = 1 second)
        });

        document.getElementById('sendRightButton').addEventListener('mouseup', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // For good measure, also stop the interval if the user moves the mouse away while pressing the button
        document.getElementById('sendRightButton').addEventListener('mouseleave', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // stop
        document.getElementById('sendStopButton').addEventListener('mousedown', () => {
            intervalId = setInterval(() => {
                fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the forward URL:', error);
                    });
            }, 100); // Adjust the interval as needed (1000 ms = 1 second)
        });

        document.getElementById('sendStopButton').addEventListener('mouseup', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // For good measure, also stop the interval if the user moves the mouse away while pressing the button
        document.getElementById('sendStopButton').addEventListener('mouseleave', () => {
            clearInterval(intervalId);
            fetch('/move_robot?direction=stop')
                    .catch(error => {
                        console.error('Error fetching the stop URL:', error);
                    });
        });

        // Video Stream
        document.addEventListener('DOMContentLoaded', function() {
        const video = document.getElementById('video');
        const hlsUrl = '/static/hls_stream/camera_output.m3u8';

        if (Hls.isSupported()) {
          const hls = new Hls();
          hls.loadSource(hlsUrl);
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED, function() {
            video.play();
          });
        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = hlsUrl;
          video.addEventListener('loadedmetadata', function() {
            video.play();
          });
        } else {
          console.error('HLS is not supported in this browser');
        }
      });
    </script>

</body>
</html>
