<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Markers</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="/static/style.css"/>

    <style>
        #map { height: 100vh; height: 100vh;}
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <div class="floating-compass">
        <img src="/static/images/compass_rose.png" style="max-width:100%;max-height:100%;"/>
    </div>

    <div class="floating-buttons">
        Click marker to update or delete marker.<br />
        Click on map to add new marker.
        <form id="save-markers-form" action="{{ url_for('save_markers') }}" method="post">
            <input type="hidden" id="markers-field" name="markers">
            <button type="submit">Save</button>
        </form>
        <button type="button">Deploy to Robot</button>
        <button type="button" onclick="location.href='/backup_markers';">Backup Markers</button>

    </div>

    <script>
        function deleteMarker(markerId) {
            // remove marker data from the markers object
            delete markers[markerId];
            // trigger a form save
            // Get the form element
            var form = document.getElementById('save-markers-form');
            // Set the form submission method to GET
            form.method = 'POST';
            document.getElementById('markers-field').value = JSON.stringify(markers);
            // Trigger the form submission
            form.submit();
        }

        // pop up menu for delete and rename on markers
        function showMenu(event) {
            console.log(event);
            var menu = document.createElement('div');
            menu.className = ""
            menu.innerHTML = `
                <p>
                    Marker Name: ${event.sourceTarget.options.json_name}<br />
                    Marker Number: ${event.sourceTarget.options.json_id}<br />
                    Coordinates: <br />
                    ${event.latlng.lat}<br />
                    ${event.latlng.lng}<br />
                    <form id="edit-marker-form-${event.sourceTarget.options.json_id}" method="post" action="/edit_marker">
                        <input type="hidden" name="markerId" value="${event.sourceTarget.options.json_id}" />
                        <label for="markerName">Marker Name</label><br/>
                        <input type="text" name="markerName" value="${event.sourceTarget.options.json_name}" /><br />
                        <br />
                        <label for="markerHeading">Direction Heading (0-360)</label><br/>
                        <input type="number" name="markerHeading" min="0" max="360" value="${event.sourceTarget.options.json_heading}" /><br />
                        <br />
                        <label for="markerDuration">Duration (seconds)</label><br/>
                        <input type="number" name="markerDuration" value="${event.sourceTarget.options.json_duration}" /><br />
                        <br />
                        <button type="submit" class="marker-buttons">Update</button>
                    </form>
                    <br />
                    <button onclick="deleteMarker(${event.sourceTarget.options.json_id})" class="marker-buttons" >Delete</button>
                </p>
            `;
            var popup = L.popup().setLatLng(event.latlng).setContent(menu).openOn(map);
        }

        // create map
        var map = L.map('map').setView([36.007659549566725, -78.8437123056821], 20);

        // google maps layer
        L.tileLayer('https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        }).addTo(map);

        // remove attribution
        map.attributionControl.setPrefix(false);

        // get markers var from json
        var markers = {{ markers | tojson }};

        // Create an array to store latlng coordinates of markers for polyline
        var coordinates = [];

        // Add marker coordinates to an array for polyline
        for (var index in markers) {
            if (markers.hasOwnProperty(index)) {
                point = [markers[index]["lat"], markers[index]["lng"]];
                coordinates.push(point);
            }
        }

        // Create a polyline using the marker coordinates
        var polyline = L.polyline(coordinates, {color: 'red'}).addTo(map);

        // Fit the map to the bounds of the polyline
        map.fitBounds(polyline.getBounds());

        // add markers to the map from json
        for (var index in markers) {
            if (markers.hasOwnProperty(index)) {
                var marker = L.marker([markers[index].lat, markers[index].lng], {
                    draggable: true,
                    json_id: index,
                    json_name: markers[index].name,
                    json_duration: markers[index].duration,
                    json_heading: markers[index].heading
                }).addTo(map);

                // Set initial label/popup with marker name
                marker.bindPopup(markers[index].name);
                var tooltipLabel = index.concat(":" + markers[index].name)
                marker.bindTooltip(tooltipLabel,
                    {
                        permanent:true,
                        direction:'bottom',
                        offset: [-15, 30]
                    }).openTooltip();

                marker.on('dragend', function(event) {
                    var markerId = event.target.options.json_id; // Get the marker ID
                    // Update markers variable
                    // For some reason all other fields need to be updated again.
                    markers[markerId] = event.target._latlng;
                    markers[markerId].name = event.target.options.json_name;
                    markers[markerId].heading = event.target.options.json_heading;
                    markers[markerId].duration = event.target.options.json_duration;
                    console.log(event);
                });

                // Assign a unique ID to the marker
                marker.on('click', function(event) {
                    showMenu(event); // Show the menu for the clicked marker
                });

            }
        }

        // add new marker on click of map
        function onMapClick(e) {

            // Find the next available index value
            var highestKey = -1;
            for (var key in markers) {
                if (markers.hasOwnProperty(key)) {
                    var numericKey = parseInt(key);
                    if (!isNaN(numericKey) && numericKey > highestKey) {
                        highestKey = numericKey;
                    }
                }
            }
            highestKey = highestKey + 1;

            var marker = L.marker(e.latlng).addTo(map);

            markers[highestKey] = {
                lat: marker.getLatLng().lat,
                lng: marker.getLatLng().lng
            }
        }

        map.on('click', onMapClick);

        // handle saving markers.
        document.getElementById('save-markers-form').addEventListener('submit', function(event) {
            event.preventDefault();
            document.getElementById('markers-field').value = JSON.stringify(markers);
            this.submit();
        });

    </script>

</body>
</html>
