<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Markers</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <style>
        #map { height: 600px; }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <form id="markers-form" action="{{ url_for('save_markers') }}" method="post">
        <input type="hidden" id="markers-field" name="markers">
        <button type="submit">Save</button>
    </form>
    <script>
        function deleteMarker(markerId) {
            // Remove marker from the map
            map.removeLayer(markers[markerId].marker);

            // remove marker data from the markers object
            delete markers[markerId];

            // update the markers.json file here.
        }

        // pop up menu for delete and rename
        function showMenu(markerId, event) {
            var menu = document.createElement('div');
            menu.innerHTML = `
                <button onclick="renameMarker(${markerId})">Rename</button>
                <button onclick="deleteMarker(${markerId})">Delete</button>
            `;
            var popup = L.popup().setLatLng(event.latlng).setContent(menu).openOn(map);
        }

        // create map
        var map = L.map('map').setView([36.007659549566725, -78.8437123056821], 20);

        L.tileLayer('https://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        }).addTo(map);

        var markers = {{ markers | tojson }};

        // Create an array to store latlng coordinates of markers for polyline
        var coordinates = [];

        // Add marker coordinates to the array
        for (var index in markers) {
            if (markers.hasOwnProperty(index)) {
                point = [markers[index]["lat"], markers[index]["lng"]];
                coordinates.push(point);
            }
        }

        // Create a polyline using the marker coordinates
        var polyline = L.polyline(coordinates, {color: 'green'}).addTo(map);

        // Fit the map to the bounds of the polyline
        map.fitBounds(polyline.getBounds());

        // add markers to the map from json
        for (var index in markers) {
            if (markers.hasOwnProperty(index)) {
                var marker = L.marker(markers[index], { draggable: true }).addTo(map);
                marker.bindPopup(markers[index].name) // Set initial label/popup with marker name

                marker.bindTooltip(index,{permanent:true, direction:'bottom'}).openTooltip();

                marker.on('dragend', function(event) {
                    console.log(event);
                    var markerId = event.target._leaflet_id; // Get the marker ID
                    var newMarkerPosition = event.target.getLatLng(); // Get the new position
                    markers[markerId] = event.target._latlng; // Update markers variable
                    console.log(event.target._latlng);
                    console.log(markers);
                });

                // Assign a unique ID to the marker
                marker._leaflet_id = index;
                console.log(index);
                marker.on('click', function(event) {
                    var markerId = event.target._leaflet_id; // Get the marker ID
                    showMenu(markerId, event); // Show the menu for the clicked marker
                });

            }
        }

        // add new marker on click of map
        function onMapClick(e) {

            // Find the next available index value
            var highestKey = -1;
            for (var key in markers) {
                if (markers.hasOwnProperty(key)) {
                    var numericKey = parseInt(key);
                    if (!isNaN(numericKey) && numericKey > highestKey) {
                        highestKey = numericKey;
                    }
                }
            }
            highestKey = highestKey + 1;

            var marker = L.marker(e.latlng).addTo(map);

            markers[highestKey] = {
                lat: marker.getLatLng().lat,
                lng: marker.getLatLng().lng
            }
        }

        map.on('click', onMapClick);

        // handle saving markers.
        document.getElementById('markers-form').addEventListener('submit', function(event) {
            event.preventDefault();
            document.getElementById('markers-field').value = JSON.stringify(markers);
            this.submit();
        });
    </script>

</body>
</html>
